.bbody{
    margin-left: 17px;
}.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the buttons */
 }
 .chartspliter {
    display: flex;
}

.left-column {
    flex: 1;
    padding-left: 10px;
    padding-top: 0px;padding-bottom: 0px;
    
    box-sizing: border-box;
}
.left-column h4 {
    margin: 2px 0; /* Minimal vertical spacing */
    padding: 0;    /* Remove any extra padding */
}
.roun-button {
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #0078d7; /* Default color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px; /* Spacing between buttons */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .roun-button:hover {
    background-color: #005fa3; /* Slightly darker on hover */
  }
  
  .roun-button.active {
    background-color: gold; /* Highlight the active button */
    color: black; /* Adjust text color for better readability */
    font-weight: bold; /* Emphasize the active button */
  }
  
.left-column span {
    display: inline-block;
    margin: 2px 0; /* Minimal vertical spacing */
    padding: 0;    /* Remove extra padding */
}

.shadow{ color:rgb(72, 91, 108)}
.right-column {
    flex: 8;
    
    height: 100%;
    display: flex;
    flex-direction: column;
}

  .button-54 {
    flex-grow: 1;
    border: 2px solid transparent; /* Initial border to avoid layout shift */
    transition: border-color 0.3s ease; /* Smooth transition */
  }
  
  .button-54:hover {
    border-width: 3px;
    border-color: white;
    color: crimson;
    font-weight: bolder;
  }
  

.button-container{
    background-color: rgb(14, 13, 13);
    color: beige;
    
}
.butt{
    background-color: rgb(44, 44, 44);
    color: rgb(234, 236, 234);  
    border: none;
}
.butt:hover {
    color: rgb(250, 167, 12); 
}
.butt.active {
    color: rgb(250, 167, 12); 
}
.text{
    color: rgb(250, 167, 12);
}
.toggleReadMore{
    color:#001a82;
}
