.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the buttons */
 }
 .chartspliter {
    display: flex;
}

.left-column {
    flex: 1;
    padding: 10px;
    
    box-sizing: border-box;
}

.right-column {
    flex: 8;
    
    height: 100%;
    display: flex;
    flex-direction: column;
}

  .button-54 {
    flex-grow: 1;
    border: 2px solid transparent; /* Initial border to avoid layout shift */
    transition: border-color 0.3s ease; /* Smooth transition */
  }
  
  .button-54:hover {
    border-width: 3px;
    border-color: white;
    color: crimson;
    font-weight: bolder;
  }
  

.button-container{
    background-color: rgb(44,44,44);
    color: beige;
    
}
.butt{
    background-color: rgb(44, 44, 44);
    color: rgb(234, 236, 234);  
    border: none;
}
.butt:hover {
    color: rgb(250, 167, 12); 
}
.butt.active {
    color: rgb(250, 167, 12); 
}
.text{
    color: rgb(250, 167, 12);
}
.toggleReadMore{
    color:#001a82;
}
