body {
    margin: 3px;  /* Add margin to the body to move content away from the edge */
    padding: 7px;
    font-family: Arial, sans-serif;
  }
.toggleReadMore{
    color:red;
    background-color: none;
    border-width: 0px;;
}
.toggleReadMore:hover{
  color:gold;
  background-color: white;
}
  .news-listings {
    margin: 1px;
  }
 
  h1, h2, p {
    margin: 5px 0;
  }
  

  