body {
    margin: 3px;  /* Add margin to the body to move content away from the edge */
    padding: 7px;
    font-family: Arial, sans-serif;
    background-color: rgb(65, 66, 66);
  }
.toggleReadMore{
    color:red;
    background-color: none;outline: none;
    border-width: 0px;;
}
.toggleReadMore:hover{
  color:gold;    
  outline: none;
  background-color: transparent; /* Change this to your desired background color */
  outline: none;
}
  .news-listings {
    margin: 1px;
 
  }
 
  h1, h2, p {
    margin: 5px 0;
  }
  

  