body {
    margin: 3px;  /* Add margin to the body to move content away from the edge */
    padding: 7px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #090a0b, #000080, #090a0b);
  
      height: 100vh; /* Full screen height */
      margin: 0;
      overflow-y: scroll;
  }
  .articles-container{ margin-left: 19px;margin-right: 19px;border-radius: 5px;}
   
  .combined-container{   background: linear-gradient(to bottom, #090a0b, #000080, #001a82);
     
  }
  .joiner {
    display: flex;          /* Use Flexbox to arrange items */
    flex-direction: row; 
    justify-content:center;   /* Display divs side by side */
  }
  .news-listings {
    margin: 1px;border-radius: 5px;
    background: linear-gradient(to bottom, #090a0b, #121248, #090a0b);
  }
.article{
  background-color: azure; margin-left: 7px;margin-right: 7px;
}
.articlejob{
  background-color: azure; margin-left: 7px;margin-right: 7px;
}
  h1{color:white;} 
  h2, p {
    margin: 5px 0;
  }
  .job-title h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #007BFF; /* A standout color for job titles */
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow for emphasis */
    border-bottom: 2px solid #007BFF; /* Underline effect */
    padding-bottom: 5px;
  }
  
  .job-title h2:hover {
    color: #0056b3; /* Darker shade on hover */
    cursor: pointer;
  }
  
  
  .job-title:hover {
    color: #0056b3; /* Slightly darker color on hover */
    text-decoration: none; /* Remove underline on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .navigation-buttons {
    display: flex;  /* Display buttons in a row */
    gap: 1px;
  }
  
  .navigation-buttons button {
    padding: 0px 55px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  

  
  .navigation-buttons button:focus {
    outline: none;
  }
  .toggleReadMore{
    color:#5edb24;
    background-color: transparent;;
    border-width: 0px;
}

.toggleReadMore:hover{
  color: green;
  outline: none;
  background-color: transparent; /* Change this to your desired background color */
}
.articles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;border-radius: 5px;
}