body {
    margin: 3px;  /* Add margin to the body to move content away from the edge */
    padding: 7px;
    font-family: Arial, sans-serif;
  }
  .joiner {
    display: flex;          /* Use Flexbox to arrange items */
    flex-direction: row; 
    justify-content:center;   /* Display divs side by side */
  }
  .news-listings {
    margin: 1px;
  }
  
  h1, h2, p {
    margin: 5px 0;
  }
  
  .navigation-buttons {
    display: flex;  /* Display buttons in a row */
    gap: 1px;
  }
  
  .navigation-buttons button {
    padding: 0px 55px;
    font-size: 14px;
    border: none;
    background-color: white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navigation-buttons button:hover {
    background-color: white;
  }
  
  .navigation-buttons button:focus {
    outline: none;
  }
  