body {
    margin: 20px;  /* Add margin to the body to move content away from the edge */
    padding: 0;
    font-family: Arial, sans-serif;
  }
  a {
    text-decoration: none;
  }
  .nav-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 10px;  /* Reduce the bottom margin to reduce the gap between nav buttons and content */
  }
  
  .nav-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: rgb(70, 69, 69);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;  /* Keep the margin for buttons to space them out */
  }
  
  .nav-buttons .active button {
    font-weight: bold;

  }
  .nav-buttons .active button img {
  opacity: 0.5; /* Adjust the value (0 to 1) to control transparency */
}
.nav-buttons  button img {
  opacity: 0.5; /* Adjust the value (0 to 1) to control transparency */
}
  
  .nav-buttons button:hover {
    background-color: #0056b3;
  }
  
  .nav-buttons button:focus {
    outline: none;
  }
  .white{background:white;  font-size:17px; color:black; border-radius: 6px;margin:7px; }
  .white:hover{background:rgb(214, 209, 209);  color:black; border-radius: 6px; }
  

  .sportjoiner {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Space between elements */
    justify-content: space-between; /* Adjust spacing between children */
    padding: 10px; /* Optional for inner spacing */
  }
  
  
  .image-containernfl {
    flex: 1; /* Adjust width if needed */
  }
  
  .football {
    flex: 2; /* Makes this div flexible to fill remaining space */
  }
  h1, h3 {
    padding-left:5px;
    margin: 10px 0;  /* Add margin to headings */
  }
  .imgnfl{
    width: 200px;
    height: 200px;  object-fit: contain; /* Ensures the image fits nicely within its container */
  }
  