.stocks{
    
    background-color: bisque;
     padding:2px;margin:22px;
  }

  
  .flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    border: 2px solid yellow;
    padding :5px; color :rgb(29, 28, 28);
}  
.flex-child:first-child {
    margin-right: 5px;
    border: 2px solid rgb(60, 60, 56);
    padding-right: 3px;
    color :black;
    height: 50vh; 
} 


  
  .myTwitter {
    
    margin: 3px;
    padding: 7px;
    background-color: aliceblue;
    border-width: 3px;
    border-color: rgb(246, 246, 249);
    color: blue;  
     } 
  
  
     .button-container {
        display: flex;
        justify-content: space-around; /* Space buttons with a fixed gap */
        gap: 5px; /* Reduced gap between buttons */
      }
      .button-54.ftse {
        background-color: #ff9999; /* light red */
        border: none;
        color: white;
        padding: 10px;
        font-size: 14px;
      }
      
      .button-54.tesla {
        background-color: #99ccff; /* light blue */
        border: none;
        color: white; font-weight: bold;
        
        padding: 10px;
        font-size: 14px;
      }
      
      .button-54.chipotle {
        background-color: #ffcc99; /* light orange */
        border: none;
        color: rgb(38, 33, 33);font-weight: bold;
        padding: 10px;
        font-size: 14px;
      }
      
      .button-54.bitcoin {
        background-color: #ffccff; /* light pink */
        border: none;
        color: rgb(18, 15, 3);
        padding: 10px;
        font-size: 14px;
      }
      
      .button-54.apple {
        background-color: #ccff99; /* light green */
        border: none;
        color: rgb(38, 33, 33);font-weight: bold;
        padding: 10px;
        font-size: 14px;
      }
      
      .button-54.microsoft {
        background-color: #5f1057; /* light yellow */
        border: none;
        color: rgb(222, 217, 217);font-weight: bold;
         padding: 10px;
        font-size: 14px;
      }
      
      .button-54.nvidia {
        background-color: #cccccc; /* light grey */
        border: none;
        color: rgb(38, 33, 33);font-weight: bold;
        padding: 10px;
        font-size: 14px;
      }
      