.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.jobs{
  display: flex;
  padding:20px;
}
.listings{
  flex:1;
  padding:10px;
}

.details{
  flex:1;
  padding:10px;  background-color: #454444;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.football{
  background-color: silver;
  margin-left: 5px;
}
.stocks{
  background-color: rgb(244, 205, 205);
}

.joiner {
  display: flex;          /* Use Flexbox to arrange items */
  flex-direction: row;    /* Display divs side by side */
}
.flex-container {
  display: flex;
}
.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  


.right {
  flex:1; width:45%;
  background-color: rgb(78, 56, 56);
  color: white;           /* Change font color */
  padding: 10px;
  margin-right: 10px;     /* Space between divs */
}

.right:myTwitter {
  
  margin: 3px;
  padding: 7px;
  
  border-width: 3px;
  border-color: rgb(246, 246, 249);
  color: blue;  
          } 



   
   
.other {
  color: green; /* Add color for demonstration */
}

.jobs{
  background-color: rgb(208, 243, 177);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
