/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.myNavbar {
  flex: 0 0 auto;
  height:38px;
  background-color: rgb(70, 69, 69);
   
}


.main-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.nav-buttons {
  display: flex; /* Display buttons in a row */
  gap: 0px;
}

.nav-buttons button {
  padding: 5px 15px;
  font-size: 14px;
  border: none;
  background-color: rgb(70, 69, 69);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-buttons button:hover {
  background-color: rgb(223, 118, 118);
  color: gold;
}

.nav-buttons button:focus {
  outline: none;
}

.nav-buttons button:active {
  background-color: rgb(70, 69, 69);
   color: gold;
   font-size: 17px;
}


.active button {
  background-color: rgb(70, 69, 69);
  color: gold;
  font-size: 17px;}
.theGraph{
  padding: 3px;
  background-color: rgb(171, 172, 171);
  
}
