/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
 
}
.together {
  display: flex; /* Enables flexbox */
  /* Distributes space between the two divs */
  align-items: center; /* Vertically aligns the divs */
 /* Allows scrolling only inside the chart area */
  
  
}
.stright{ padding-right:14px;  /* Allows scrolling only inside the chart area */
}


.hidform {
  display: none;
  flex-direction: column; /* Adjust based on your layout needs */
}

.h1-hidden {
  position: absolute;
  left: -9999px; /* Hides the element off-screen */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #090a0b;
   padding: 10px;
   padding-left: 5px;
   /* Allows scrolling only inside the chart area */
  
}

.myNavbar {
  flex: 0 0 auto;
  height:7%;
  background-color: #090a0b;
}


.main-content {
  flex: 1 1 auto;
  margin-left: 1px;
  padding-left: 1px;
  
   /* Allows scrolling only inside the chart area */
  
}

.nav-buttons {
  display: flex; /* Display buttons in a row */
  gap: 0px;
}

.nav-buttons button {
  padding: 5px 5px;  height: auto;
  font-size: 14px;
  border: none;
  background-color:  #090a0b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-buttons button:hover {
  background-color: rgb(75, 121, 219);
  color: gold;border-radius: 5px;
}
.straight {
  display: flex;
  flex-wrap: wrap; /* Allows children to wrap if there isn't enough space */
  width: 100%; /* Ensure it uses full available width */
  gap: 10px; /* Spacing between child elements */
  padding: 10px; /* Space inside the container */
  box-sizing: border-box; 
  overflow: hidden; /* Prevent content overflow */
}


.nav-buttons button:focus {
  outline: none;
}

.nav-buttons button:active {
  
   color: gold;
   font-size: 17px;
}


.active button {
  
  color: gold;
  font-size: 17px;}
.theGraph{
  padding: 3px;
  background-color: #090a0b;border: 2px;border-color: antiquewhite;
  color :rgb(188, 182, 182);  overflow: hidden; /* Allows scrolling only inside the chart area */
  

}
.teslsa{width:800px;  overflow: hidden; /* Allows scrolling only inside the chart area */
  

}
/* For Webkit-based browsers (e.g., Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

{/* ::-webkit-scrollbar-track {
  background: #e42e2e;
}

::-webkit-scrollbar-thumb {
  background: #202020; 
  border-radius: 6px;
  border: 0.5px solid #252525;   Adds a border for contrast 
}

::-webkit-scrollbar-thumb:hover {
  background: #6363de;  Color when hovered 
}
*/}

